---
- name: Converge
  hosts: all
  become: true

  vars:
    sentry_db_name: 'sentry'
    sentry_db_user: 'sentry'
    sentry_db_pass: "secure"
    sentry_secret_key: 'SAFE'
    postgres_repo_version: '9.5'
    postgresql_databases:
      - name: '{{ sentry_db_name }}'
    postgresql_users:
      - name: '{{ sentry_db_user }}'
        db: '{{ sentry_db_name }}'
        pass: '{{ sentry_db_pass }}'
        role_attr_flags: SUPERUSER
    postgresql_hba_entries:
      - {type: local, database: all, user: postgres, auth_method: peer}
      - {type: local, database: '{{ sentry_db_name }}', user: '{{ sentry_db_user }}', auth_method: trust}

  pre_tasks:
    - name: Enable EPEL repo on EL for Redis role
      yum: pkg=epel-release state=present
      when: ansible_os_family == 'RedHat'
    - name: Install cron (RedHat).
      yum: name=cronie state=present
      when: ansible_os_family == 'RedHat'

  tasks:
    - import_role:
        name: geerlingguy.redis
    - import_role:
        name: Duologic.postgresql_repository
    - name: Setup PostgreSQL
      become: true
      import_role:
        name: geerlingguy.postgresql
    - meta: flush_handlers
    - import_role:
        name: Duologic.sentry

  post_tasks:
    - name: Check if Sentry is running.
      wait_for:
        port: 9000
        delay: 30
